.btn {
  /* display: inline-block; */
  font-size: 0.8rem;
  text-transform: uppercase;
  /* padding: 15px 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: 0.2s ease;
}

.btn-primary {
  background: var(--button-gradient);
  color: var(--dark-color);
}

.btn-transparent {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-dark {
  background: var(--dark-button-gradient);
  color: var(--primary-color);
}

.btn:hover,
.btn:focus {
  transform: scale(1.03);
  outline: 0;
}
