.process {
  position: relative;
  margin-bottom: 100px;
}

.wave {
  display: none;
  position: absolute;
  top: 35%;
  z-index: -1;
  /* transform: scale(0.8); */
  transform: scaleY(0.6);
}

@media screen and (max-width: 1600px) and (min-width: 1300px) {
  .wave {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .process {
    margin-bottom: 150px;
  }
}
